body {
    font-family: Arial, sans-serif;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

button {
    background-color: rgb(209, 139, 33);
    border-radius: 10px;
}